<div class="container">
    <h3>Tạo tuyến đường mới mới</h3>
    <form method="POST" action="/journeys/store">
    <div class="form-group">
        <label for="name">Tên Tuyến Đường</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="name">Mô Tả</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-group">
        <label for="name">Trạm đầu cuối</label>
        <input type="text" class="form-control" id="first_last" name="first_last">
    </div>
    <div class="form-group">
        <label for="name">Thời gian</label>
        <input type="text" class="form-control" id="time" name="time">
    </div>
    <button type="submit" class="btn btn-primary">Tạo Tuyến đường</button>
    </form>
</div>